<!DOCTYPE html>
<html>
<% include templates/header.ejs %>
<body>
	<script>
		//Load the google charts packages that is used
		//google.charts.load('current', {packages: ['corechart', 'table', 'line','controls']});
		google.charts.load('current', {packages: ['corechart', 'table', 'line','controls']});

		//Requirejs is setup
		requirejs.config({ baseUrl: './javascripts/' });

		//In this function our javascripts are accesable and instanses of the included objects can be created
		requirejs(['table', 'graph', 'map'], function (Table, Graph, Map) {
			//Stores data sent from Node.js into smhidata
			var smhidata = <%-JSON.stringify(dataobject)%>;

            //This is a time handler. It prints current day and hour for the slider
            var dateHandler = new Date();
            var weekday = new Array();
            weekday[0] = "Söndag";
            weekday[1] = "Måndag";
            weekday[2] = "Tisdag";
            weekday[3] = "Onsdag";
            weekday[4] = "Torsdag";
            weekday[5] = "Fredag";
            weekday[6] = "Lördag";

            //console.log(smhidata);
			//Creates objects for the components
			var _table = new Table();
			var _graph = new Graph(smhidata);
			var _map = new Map();
			var slider = new Slider('#bootslide', {});

            // Sets the current day and time
            slider.tooltipInner.innerText = pad(dateHandler.getHours()) + ":00";
            document.getElementById("tid").innerHTML = pad(dateHandler.getHours()) + ":00";
            document.getElementById("dag").innerHTML = weekday[dateHandler.getUTCDay()];

            //This function adds a 0 before the displayed hour if needed. E.g. 8:00 becomes 08:00.
            function pad(n) {return ("0" + n).slice(-2); }

            //Inits the objects to create the components
			_table.initTable(smhidata);
			_graph.initGraph(smhidata);
			_graph.drawGraph();
			_map.initMap(smhidata);

			//This code implements livesearch for the Stad textfield
			var input = document.getElementById('CitySearch');
			var options = {};
			new google.maps.places.Autocomplete(input, options);

            //This function returns time for a specified position. (String position, int timeIndex).
            function getDate(position,timeIndex){
                var pos = position.toLowerCase();
                var index = timeIndex;
                var counter = 0;

                for(var i = 0; i < smhidata.length; i++) {
                    if(pos == smhidata[i].name.toLowerCase()){
                        break;
                    }
                    counter += 1;
                }
                //Creates a specified Date with correct City and time index
                var date = new Date(smhidata[counter].timeseries[index].validTime);

                //Specified date-array: specDate[hour, day];
                var specDate = [pad(date.getUTCHours()) + ":00", weekday[date.getUTCDay()]];
                return specDate;
            }

            //This function displays current time from slider values.
            function setSliderDate(dateHandler){
                slider.tooltipInner.innerText = dateHandler[0];
                document.getElementById("tid").innerHTML = dateHandler[0];
                document.getElementById("dag").innerHTML = dateHandler[1];
            }
                                    //Slider handler functions
        //---------------------------------------------------------------------------------
            //These functions display time and day chosen from slider value AND from position.
            //"Gävle" IS CURRENTLY A FILLER! needs input from search field!
            slider.on("slideStop", function(slideEvt) {
                var sliderValue = slider.getValue();
                dateHandler = getDate("Gävle", sliderValue );
                setSliderDate(dateHandler)
            });

            slider.on("slideStart", function(slideEvt){
                var sliderValue = slider.getValue();
                dateHandler = getDate("Gävle", sliderValue );
                setSliderDate(dateHandler)
            });

            slider.on("slide", function(slideEvt){
                var sliderValue = slider.getValue();
                dateHandler = getDate("Gävle", sliderValue );
                setSliderDate(dateHandler)
            });

            slider.on("change", function(slideEvt){
                var sliderValue = slider.getValue();
                dateHandler = getDate("Gävle", sliderValue );
                setSliderDate(dateHandler)
            });
        //---------------------------------------------------------------------------------
			//This function runs when the Sök button is clicked
			document.getElementById("SearchBtn").onclick = function(){
				var AdresFalt = $("#CitySearch") ;
				$.getJSON('http://nominatim.openstreetmap.org/search?format=json&q=' + AdresFalt.val(), function(data) {
					_map.updateMap(data);
				})
			};
			//This function runs when the Stad textfield is highlighted and a key is pressed
			$("#CitySearch").keypress(function(e){
				//If the pressed button is enter
				if(e.which == 13){
					var AdresFalt = $("#CitySearch") ;
					$.getJSON('http://nominatim.openstreetmap.org/search?format=json&q=' + AdresFalt.val(), function(data) {
						_map.updateMap(data);
					})
				}
			});
		})

        $( document ).ready(function() {
            /**
             * For toggling the sidebar
             */
            $("#menu-toggle").click(function(e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        });
        $(window).resize(function() {
            if( $(window).width() < 767 ) {
                $("#searchForm").appendTo("#sideBar");
            }
            else {
                $("#searchForm").appendTo("#topBar");
                $("#wrapper").removeClass("toggled");
            }
        });


	</script>

    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">
                    <span href="#menu-toggle" id="menu-toggle" class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <img src="images/logoWhite.png" class="navbar-left" style="height: 50px; z-index: -1">

                <div class="navbar navbar-nav navbar-center">
                    <h4><%= location %> | <%= time %></h4>
                </div>

                <form class="navbar-form navbar-right" id="topBar" role="search">
                    <div class="form-group" id="searchForm">
                        <input type="text" class="form-control" placeholder="Sök efter stad" id="CitySearch">
                        <button id="SearchBtn" type="button" class="btn btn-success">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <h3><%= location %> | <%= time %></h3>
                </li>
                <li>
                    <form class="navbar-form navbar-side" id="sideBar" role="search">
                        <!--<div class="form-group">-->
                            <!--<input type="text" class="form-control" placeholder="Stad" id="CitySearch">-->
                            <!--<button id="SearchBtn" type="button" class="btn btn-success">-->
                                <!--<span class="glyphicon glyphicon-search" aria-hidden="true"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    </form>
                </li>
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <!-- /#sidebar-wrapper -->
                <div class="row"> <!-- OUTER DIVS -->
                    <div class="col-md-6">
                        <div class="pageElement">
                            <div id="map" class="map"></div>
                             <input id="bootslide" type="text"  value=""
                                     data-slider-min="1"
                                     data-slider-max="73"
                                     data-slider-step="1"
                                     data-slider-value="1"
                                     data-slider-tooltip
                                     data-slider-tooltip-position="bottom"
                              />
                            <div>
                                <output id="tid"></output>
                                <output id="dag"></output>
                            </div>
                            <b id="idag"></b>
                        </div>
                    </div>
                    <div class="col-md-6"> <!-- GRAPH AND TABLE -->
                        <div class ="row"> <!-- GRAPH -->
                            <div id="graph_div" class="graph pageElement"></div>
                        </div>
                        <div class ="row"> <!-- TABLE -->
                            <div id="table_div" class="table pageElement"></div>
                        </div>
                    </div> <!-- GRAPH AND TABLE -->
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
</body>
</html>